.header {
  max-width: 75rem;
  padding: 2.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0rem;
  justify-content: center;
  position: relative;
}

.header-menu a {
  padding: 1rem 1.5rem;
  color: #141414;
  display: block;
}

.header-menu li::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #292929;
  border-radius: 50%;
  position: absolute;
  top: 1.625rem;
}

.header-menu li:hover::before {
  background-color: #e7804d;
}

@media (max-width: 50rem) {
  .header {
    flex-direction: column;
    gap: 2.5rem;
  }

  .header-menu a {
    /* background-color: #292929; */
    color: #292929;
    border: #292929 solid 0.1875rem;
    margin: 0.5rem;
  }

  .header-menu li::before {
    display: none;
  }
}

@media (max-width: 40.625rem) {
  .header-menu a {
    /* background-color: #292929; */
    margin: 0.25rem;
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
  }
}
